<p id="notice"><%= notice %></p>

<h1>Listing Paradoxes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paradoxes.each do |paradox| %>
      <tr>
        <td><%= paradox.title %></td>
        <td><%= paradox.author %></td>
        <td><%= paradox.description %></td>
        <td><%= link_to 'Show', paradox %></td>
        <td><%= link_to 'Edit', edit_paradox_path(paradox) %></td>
        <td><%= link_to 'Destroy', paradox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paradox', new_paradox_path %>
